* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  /* height: 100%; */
  width: 100%;
}

body {
  background-color: #09090b;
  margin: 0 auto;
  padding: 50px 0;
}

main {
  height: 100%;
  max-width: 60%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.inputWrapper {
  background-color: #161617;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.review-btn {
  color: #000;
  width: fit-content;
  bottom: 1.5rem;
  code-review-box: 1.5rem;
  background-color: #ffffff;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}
hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.review-wrapper {
  background-color: #161617;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: stretch;
  padding: 40px;
}
.code {
  background-color: #1e1e20;
  height: 200px;
  overflow-y: scroll;
}

.code-review-box {
  background-color: #1e1e20;
  padding: 20px;
  border-radius: 15px;
  height: 400px;
  overflow-y: scroll;
  scrollbar: visible;
  font-size: 16px;
}
